// Branching modal pop up
.modalOverlayConditionalBranching{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    .modalContent-navbar{
        background-color: #FFFFFF;
        width: 70vw;
        border-bottom: 1px solid #d2dae2;
        padding: 0 40px;
        border-radius: 9px 9px 0 0;
        height: 96px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        h2{
            margin: 0;
        }
        button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: #626F7D;
            font-size: 20px;
            font-weight: bold;
        }
    }
    .modalContent-footer {
        background-color: #FFFFFF;
        width: 70vw;
        border-top: 1px solid #d2dae2;
        padding: 0 40px;
        border-radius: 0 0 9px 9px;
        height: 96px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -20px;
        margin-bottom: 20px;
        button {
            border: none;
            color: white;
            padding: 12px 28px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 9px;
        }
        .modalContent-footer-primary-button {
            background: #0F4C81;
        }
        .modalContent-footer-secondary-button {
            background: #9daec7;
        }
    }
    .modalContent {
        overflow-y: scroll;
		overflow-x: hidden;
        background: white;
        height: calc(100vh - 108px);
        width: 70vw;
        display: grid;
        grid-template-columns: 1.5fr 3fr;
        margin-bottom: 20px;
		h3 {
			margin-bottom: 10px;
		}
        .modalContent-single {
            padding: 0 40px 20px 40px;
			width: 69vw;
			.conditionalSettings {
				.conditionalSettingsFlex {	
					display: flex;
					justify-content: space-between;
				}
				background: #F0F2F5;
				border: 1px solid #d2dae2;
				border-radius: 5px;
				padding: 20px 30px;
				margin: 0 0 20px;
				.conditionSettings-left {
					width: 80%;
				}
				.conditionalSetting {
					margin-bottom: 25px;
					button {
						border: 1px solid #d2dae2;
						border-radius: 5px;
						width: 45px;
						height: 45px;
						margin-right: 10px;
						background: #fff;
						cursor: pointer;
					}
					img {
						width: 15px;
					}
					select {
						height: 48px;
						width: 85px;
						border-radius: 9px;
						border: 0;
						box-shadow: 0 6px 12px rgb(0 0 0 / 15%);
						background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
						background-repeat: no-repeat;
						-webkit-appearance: none;
						appearance: none;
						background-position-x: 55px;
						background-position-y: 18px;
						padding-left: 20px;
						margin: 0 10px;
						font-family: "ApercuPro";
						.conditionalJumpLabel {
							color: white;
							background: pink;
							border-radius: 5px;
						}
					}
					select:focus{
						outline: none;
					}
					.conditionalSelectQuestion {
						width: 80%;
						background-position-x: 97%;
						margin: 0px 10px 10px 0;
					}
					.conditionalSelectChoice {
						width: 80%;
						background-position-x: 97%;
						margin: 0 10px 10px 0;
					}
					.selectMultiple {
						width: 80%;
					}
				}
				.conditionSettings-right {
					display: flex;
					.conditionDeleteButton {
						cursor: pointer;
						width: 40px;
						height: 40px;
						img {
							width: 15px;
							height: 15px;
						}
					}
					.conditionStatus {
						label {
							cursor: pointer;
							width: 45px;
							height: 30px;
							background: grey;
							display: block;
							border-radius: 100px;
							position: relative;
							margin-top: 3px;
						}
						
						label:after {
							content: '';
							position: absolute;
							top: 5px;
							left: 5px;
							width: 20px;
							height: 20px;
							background: #fff;
							border-radius: 90px;
							transition: 0.3s;
						}
						input{
							display: none;
						}
						input:checked + label {
							background: #4CAF50;
						}
						
						input:checked + label:after {
							left: calc(100% - 5px);
							transform: translateX(-100%);
						}
						
						label:active:after {
							width: 45px;
						}
					}
				}
			}
			.additionalConditionButton {
				cursor: pointer;
				border: 2px dashed #d2eae2;
				width: 100%;
				font-size: 16px;
				background: 0 0;
				color: #0F4C81;
				padding: 30px 20px;
				border-radius: 5px;
				margin: 0 0 20px;
				font-family: "ApercuPro";
			}
        }
    }
}